/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";
@import "../fonts/zocial.less";

@footercolor: #333;
@footertextcolor: #ddd;
/* ==========================================================================
   Base
   ========================================================================== */

body { 
  //background: url(../img/diagmonds/diagmonds.png) repeat;
  background-color: darken(@brand-primary,20%);
  background-image: url(../img/darth-stripe.png);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  margin-top:20px;
}



/* ==========================================================================
   Header
   ========================================================================== */


.banner { 
  //sbackground: url(../img/brushed/brushed.png) repeat;
  .navbar-nav {
    text-align: center;
    float: none;
    >li a{
      color:white;
      font-weight:bold;
    }
    .dropdown-menu>li>a{
      color:black;
      text-align:left;
    }
  }
}

.navbar{
  margin-bottom:0px;
  border-radius:0;
  &-inverse{
    border-bottom:0px;

  }
}
.logo-area{
  background-color: #eee;
  padding: 15px 0;
}
.logo{
  width: 25%;
  img{
    .img-responsive();
  }
}

.navbar-area{
  margin-left: -25px;
  margin-right: -25px;
  background-color:#666;
  border-bottom:3px solid @brand-primary;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { 
  background-color:white;
  padding-top:20px;
  padding-bottom:60px;
}

.member, .podcast{
  figure{
    margin-left:5px;
    margin-bottom:5px;
  }
}

.podcast-social-icons{
  font-size:1.25em;
  a{
    display:inline-block;
    margin:5px;
  }
}

.board-of-trustees{
  h2{
    font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    background: url('../img/wg_pixel_dividers/images/divider2.png') repeat-x center;
    span{
      background-color:white;
      padding-right:3px;
    }
  }
  .board-member-name{
    margin-top:0px;
  }
  .bot-email{
    i{
      padding: 0px 3px 0px 5px
    }
  }
}
/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { 
  padding: 0 50px;
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

.page-header{
  margin: 15px 0 20px;
}
.page-header h1{
  margin-top:0;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

article.excerpt{
  .byline{
    font-family: @font-family-sans-serif;
    font-size:.85em;
    text-transform:uppercase;
    font-weight:bold;
  }
  .excerpt-footer{
    background: url('../img/wg_pixel_dividers/images/divider2.png') repeat-x center;
    min-height:5px;
  }
}

/* ==========================================================================
   Footer
   ========================================================================== */
.widget{
  padding-top:5px;
  margin-top:10px;
  margin-bottom:10px;

  h3{
    margin-top:5px;
    font-family: @font-family-sans-serif;
    font-size:1.1em;
    text-transform:uppercase;
    font-weight:bold;
    background: url('../img/wg_pixel_dividers/images/divider2.png') repeat-x center;
    span{
      background:white;
      padding-right:5px;
    }
  }
  font-size: .85em;
}
.social-widget{
  margin-top:10px;
  a{
    display:block;
    background-color:lighten(@footercolor,40%);
    color:@footercolor;
    border-radius: 0;
  }
  .nav-pills>li>a{
    border-radius: 0;
    margin-right:5px;
  }
}

.widget_nav_menu{
  ul{
    .nav();
    >li>a{
      padding: 5px;
    }
    li{border-top:1px solid lighten(@footercolor,40%);}
  }
}
.recent-posts-widget{
  ul{
    .nav();
    h4{
      margin-bottom:5px;
    }
    li{border-top:1px solid lighten(@footercolor,40%);}
  }
}
.footer-widgets{
  border-top: 10px solid lighten(@footercolor,40%);
  background: lighten(@footercolor, 10%);
  color: @footertextcolor;
  padding: 40px;
  h3{
    color:white;
  }
  .widget h3{
    color: white;
    span{
      background:lighten(@footercolor, 10%);
    }
  }
}
footer.site-footer { 
  background: darken(@brand-primary,20%);
  color: @footertextcolor;
  padding: 10px;
  p{margin: 0;}
}

.widget-podcasts, .widget-members{
  li{
    padding: 10px 0;
    border-bottom: 1px dotted #ddd;
  }
  img{
    padding: 1px;
    border: 1px solid #ddd;
    margin-top:-10px;
    border-radius: 10px;
  }

}
.widget-members img{
  margin-top:0;
}
.member-podcast a:before {
  font-family: zocial;
  content: "`";
  padding: 0px 5px;
  display: inline-block;
}
/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
